<% include ../../partials/examplesHead %>
<!-- <h4>0. My Own Example</h4> -->

<% include ../../partials/docBody %>

<body class = "pageTop">
	<img class="logo" src="https://upload.wikimedia.org/wikipedia/en/thumb/6/6e/York_Region_District_School_Board_Logo.svg/1200px-York_Region_District_School_Board_Logo.svg.png" height = "50" width="100" alt="School Board Logo">
	<button class = "logout">
		logout
	</button>
</body>

<form class="eg" action="" method="post" data-busy="form">
<!-- form has functions while div is just a box -->
	</div>
		<div class = "header two"><text > Upcoming Submissions</text></div>
	</div>

	<button type="dashboard" class="btn sidebarOne">
		<span class="material-icons red600"> dashboard </span>
		Dashboard
	</button>

	<button type="submitted" class="btn sidebarTwo">
		<span class="material-icons red600"> schedule </span>
		Upcoming Submissions
	</button>

	<button type="submittedDoc" class="btn sidebarThree">
		<span class="material-icons red600"> cloud_done </span>
		Submitted Documents
	</button>
	

	<div class="form row layout">
		<div class="label name"><text > </text></div>
		<div class="label name"><text >Name</text></div>
		<div class="label status"><text >Status</text></div>
		<div class="label type"><text>Type</text></div>
		<div class="label deadline"><text>Deadline</text></div>
	  	<!-- <text class="label name">Name</text>
		<text class="label status">Status</text>
		<text class="label type">Type</text>
		<text class="label deadline">Deadline</text> -->
		<input type="hidden" id="envID" name="envID" value="">
		<ul class="forms list">
			<% forms?.forEach( doc => { %>
			<li class="form item">
                <script>
                    setEnvID = function(envID) {
                        var elem = document.getElementById("envID");
                        elem.value = envID;
                    }
                </script>

				<button onclick=setEnvID("<%=doc.envelopeId%>")>
					<div class="label name"><strong><%= doc.emailSubject%></strong></div>
					<div class="label status"><%= doc.status %></div>
					<div class="label type"><%= doc.folders[0].folderId %></div>
					<div class="label deadline"><%= doc.expireDateTime %> </div>
				</button>
			</li>
			<% }); %>
		</ul>
	</div>
  
</form>

<% include ../../partials/examplesFoot.ejs %>
